@font-face {
    font-family: 'sushiFont';
    src: url('fonts/sushiFont.otf')
}

html, body {
    font-family: 'sushiFont', sans-serif;
    background: #131313;
    margin: 0;
    color: #fff;
    overflow-x: hidden;
}

header {
    position: fixed;
    background: #131313;
    width: 100%;
    height: 70px;
    z-index: 1;
}

header  #logoImage {
    height: 100%;
    width: 20%;
    float: left;
}

header #logoImage img {
    height: 30px;
    padding: 20px;
    margin-left: 100px;
    float: left;
}

    /* Menu */

header  nav  ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 100px;
}

header  nav  ul  li {
    height: 70px;
    display: inline-block;
}

header  nav  ul  li  a {
    display: block;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 27px 16px 0;
}

header  nav  ul  li  a:hover {
    transition: 0.6s;
    color: #808080;
}

/* Menu end */

/* Hamburger menu */

.buttonSection {
    height: 100%;
    width: 50%;
    float: right;
    display: none;
}

.dropbtn {
    background: #131313;
    color: white;
    padding: 20px;
    margin-right: 100px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    height: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

#dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 70px;
    right: 30px;
    text-align: center;
}

#dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#dropdownContent a:hover {
    background-color: #f1f1f1
}

.dropbtn:hover {
    transition: 0.6s;
    color: #808080;
}

/* Main section */

main {
    width: 100%;
    margin-top: 70px;
}

.mainSections {
    height: 700px;
    background: #000;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    display: flex;
}

.fadeIn {
    opacity: 0;
}

.mainSections h2 {
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin-bottom: 0;
}

#restaurantSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: url("images/food.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.restaurants {
    height: 100%;
    width: 33.3%;
    display: flex;
}

.restaurants  a:hover  {
    transition: 0.6s;
    background: #fff;
    opacity: 0.5;
}

.restaurants  a:hover  h3 {
    transition: 0.6s;
    color: #585858;
}

.restaurants  a {
    width: 100%;
    color: #fff;
    position: relative;
    text-decoration: none;
}

.restaurants  a  h3 {
    font-size: 5vw;
    font-weight: lighter;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.centerContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

#aboutSection  .imgSection {
    width: 50%;
    height: 100%;
    background: url("images/vegpoke.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0;
}

.imgSection {
    width: 50%;
    height: 700px;
}

.textSection {
    width: 50%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.textSection h1 {
    text-align: right;
    font-size: 10vw;
    font-weight: lighter;
    width: 40%;
    border-right: solid 10px #fff;
    line-height: 1;
    padding: 5%;
    margin: auto;
}

h1#withUs {
    font-size: 6vw;
}

.textSection  p {
    font-size: 2vw;
    width: 40%;
    padding: 5%;
}

.mainSections#cateringSection {
    background: url("images/food2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fullSection .textSection {
    margin-right: 50%;
}

.mainSections.fullSection .textSection  p {
    text-align: right;        
}

.mainSections.fullSection .textSection  h1 {
    border-right: none;
    border-left: solid 10px #fff;
    text-align: left;
}

#findSection .imgSection {
    background: url("images/nuts.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: auto;
}

#findSection .textSection #openingHours {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

#findSection .textSection #openingHours p {
    font-size: 1vw;
    width: auto;
    margin: 10px;
    padding: 10px;
    border: solid 10px #fff;
    background: #000;
}

#findSection .textSection p strong {
    font-size: 1.5vw;
}

#findSection .textSection a {
    margin: 10px;
    padding: 10px;
    font-size: 1.5vw;
    font-family: 'sushiFont', sans-serif;
    border: none;
    background: #fff;
    border: solid 5px #fff;
    text-align: center;
    text-decoration: none;
    color: #000;
}

#findSection .textSection a:hover {
    background: url('images/map.png');
}

#openingHours {
    display: flex;
}

.mainSections#companySection {
    background: url("images/bowls.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#followSection  .imgSection {
    background: url("images/tower.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: auto;
    float: left;
}

#followSection  .textSection {
    float: right;
}

#followSection .textSection .socialMedia {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#followSection .textSection h1 {
    margin-right: 0;
}


#followSection .textSection .socialMedia a {
    margin: 20px;
    width: 50px;
    height: 50px;
    padding: 25px;
    font-size: 50px;
}

.mainSections#workSection {
    background: url("images/spicytuna.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainSections#workSection p  {
    background: #000;
    margin-left: 5%;
    margin-right: 5%;
}

.mainSections#workSection p a {
    color: #fff;
}

.mainSections#workSection p a:hover {
    transition: 0.6s;
    color: #808080;
}

    /* Footer */
    footer {
        width: 100%;
        background: #131313;
        display: flex;
        justify-content: center;
        justify-items: center;
    }

footer  .socialMedia {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.socialMedia  .fa {
    padding: 20px;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.socialMedia  .fa:hover {
    transition: 0.6s;
    background: #131313;
    color: #fff;
}

.fa-facebook {
    background: #fff;
    color: #131313;
}

.fa-instagram {
    background: #fff;
    color: #131313;
}

.footerSections {
    width: 33.33%;
}

.footerSections  p {
    margin: 20px;
    color: #fff;
    text-align: center;
}

.footerSections  p  strong {
    font-size: 22px;
}

#copyright {
    margin: auto;
    margin-bottom: 0;
}

#contact {
    margin: auto;
    text-align: center;
    color: #fff;
}

#contact  p  a {
    text-decoration: none;
    color: #fff;
}

#contact  p  a:hover {
    transition: 0.6s;
    color: #808080;
}

@media (max-width: 1130px) {

    nav {
        display: none;
    }

    .buttonSection {
        display: inline-block;
    }
}

@media (max-width: 992px) {

    header {
        display: flex;
    }

    header  #logoImage {
        width: 50%;
    }

    .mainSections.fullSection .textSection h1 {
        text-align: center;
    }

    .fullSection .textSection {
        margin-right: 0;
        display: flex;
        flex-direction: column-reverse;
    }

    #restaurantSection {
        display: inline-block;
    }

    .restaurants {
        width: 100%;
        height: 33.3%;
    }

    .restaurants a {
        display: flex;
        justify-content: center;
        justify-items: center;
    }

    .restaurants a h3 {
        position: relative;
        font-size: 10vw;
        margin-top: auto;
        margin-bottom: auto;
    }

    #followSection  .imgSection, #aboutSection  .imgSection, #findSection  .imgSection {
        width: 100%;
    }

    .textSection {
        width: 100%;
        position: absolute;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    br#bigBr {
        display: none;
    }

    .textSection h1 {
        border: 0;
        margin: 0;
        text-align: center;
        width: 60%;
        margin-right: 15%;
        margin-left: 15%;
        border-bottom: solid 10px #fff;
    }

    .textSection p, .mainSections.fullSection .textSection p {
        width: 80%;
        padding-right: 10%;
        padding-left: 10%;
        text-align: left;
    }

    .mainSections.fullSection .textSection h1 {
        border-left: 0;
    }

    #findSection .textSection #openingHours {
        font-size: 1.5vw;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    #findSection .textSection #openingHours p, #findSection .textSection #openingHours a {
        width: 60%;
        margin: 5px;
        text-align: center;
    }

    .textSection  p {
        font-size: 4vw;
        margin: auto;
        padding: 0;
    }

    #findSection .textSection #openingHours {
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 60%;
    }

    h1#withUs {
        font-size: 10vw;
    }

    footer {
        flex-direction: column;
    }

    footer  .footerSections {
        width: 100%;
    }
}

@media (max-width: 440px) {

    header  #logoImage  img {
        margin-left: 0;
    }

    .textSection p {
        font-size: 24px;
    }

    .dropbtn {
        margin-right: 0;
    }
}

@media (min-width: 1620px) {

    .textSection  p {
        font-size: 1.5vw;
    }

    #findSection .textSection #openingHours p {
        font-size: 0.75vw;
        font-weight: lighter;
        width: auto;
        margin: 10px;
        padding: 10px;
        border: solid 10px #fff;
        background: #000;
    }

    #findSection .textSection p strong {
        font-size: 1.25vw;
    }
}